<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="over" position="end" fixedInViewport="true" (keydown.escape)="sidenav.close()">
    <mat-nav-list>
      <!-- TODO: Scroll on click -->
      <a mat-list-item href="#hero-container">Home</a>
      <a mat-list-item href="#about-container">About</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <app-hero></app-hero>
    <app-about></app-about>
  </mat-sidenav-content>

</mat-sidenav-container>
