@use "palette";

.mat-drawer {
  .mdc-list {
    padding: 0;
  }
  .mat-drawer-inner-container {
    min-width: 300px;
    background-color: palette.$tertiary-900;
    color: palette.$accent-50;
  }
  span.mat-mdc-list-item-unscoped-content.mdc-list-item__primary-text {
    color: palette.$accent-50;
    font-size: 24px;
  }
}

div.slick-track {
  display: flex;
  justify-content: center;
  align-items: center;
}
