$primary-50: #FFFDE7;
$primary-100: #FFF9C4;
$primary-200: #FFF59D;
$primary-300: #FFF176;
$primary-400: #FFEE58;
$primary-500: #FFEB3B;
$primary-600: #FDD835;
$primary: #FBC02D;
$primary-800: #F9A825;
$primary-900: #F57F17;
$primary-A100: #FFFF8D;
$primary-A200: #FFFF00;
$primary-A400: #FFEA00;
$primary-A700: #FFD600;

$accent-50: #F1F8E9;
$accent-100: #DCEDC8;
$accent-200: #C5E1A5;
$accent-300: #AED581;
$accent-400: #9CCC65;
$accent: #8BC34A;
$accent-600: #7CB342;
$accent-700: #689F38;
$accent-800: #558B2F;
$accent-900: #33691E;
$accent-A100: #CCFF90;
$accent-A200: #B2FF59;
$accent-A400: #76FF03;
$accent-A700: #64DD17;

$tertiary-50: #ECEFF1;
$tertiary-100: #CFD8DC;
$tertiary-200: #B0BEC5;
$tertiary-300: #90A4AE;
$tertiary-400: #78909C;
$tertiary-500: #607D8B;
$tertiary-600: #546E7A;
$tertiary-700: #455A64;
$tertiary-800: #37474F;
$tertiary-900: #263238;
