<div id="education" class="education-section">
  <h2>Wiedza/Wykształcenie</h2>
  @for(item of visibleItems; track trackByFn) {
    <div class="panel">
      <div class="panel-title" (click)="toggle(item)">
        <mat-icon class="chevron" [class.rotated]="item.state === 'expanded'">expand_more</mat-icon>
        {{ item.name }}
      </div>
      <div [@expandCollapse]="item.state" class="panel-content">
        <img *ngIf="item.imageUrl" src="{{item.imageUrl}}" [alt]="item.name">
        <p>{{ item.description }}</p>
      </div>
    </div>
  }
  <button mat-raised-button color="primary" *ngIf="showMoreButtonVisible" (click)="showMore()">Pokaż więcej</button>
</div>
