<div id="hero" class="hero-container">
  <div class="overlay"></div>
  <h1>Zainwestuj w siebie i odmień swoją przyszłość</h1>
  <p>
    "Nie liczy się to, jak silny jesteś na starcie, ale jak konsekwentnie dążysz do celu. Każdy dzień to nowa okazja, by stać się lepszą wersją siebie."
  </p>
  <button mat-raised-button color="primary" (click)="navigateToContact()">Umów się na konsultację</button>
  <div class="logo-container">
    <img class="logo" alt="Logo Filip Krasinski" src="assets/images/logo/Logo_raster_lowres.png">
  </div>
</div>
