@use "palette";

.partner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
  background: rgb(42,42,42);
  background: linear-gradient(90deg, rgba(42,42,42,1) 0%, rgb(162, 162, 162) 50%, rgba(42,42,42,1) 100%);
}

::ng-deep .slick-dots li button:before {
  color: #ffffff; /* Set your desired color here */
}

::ng-deep .slick-dots li.slick-active button:before {
  color: #939393; /* Change to your desired active color */
}
