.carousel {
  display: block;
  width: 100%;
  margin: 20px auto;
  max-width: 70dvw;
  max-height: 600px;

  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 5px;

    img {
      max-width: 100%;  // Ensures the image is not wider than the slide
      max-height: 100%; // Ensures the image is not taller than the slide
      object-fit: contain;  // Maintains the aspect ratio while fitting to the container
    }
  }
}
//
