<div id="metamorphosis" class="gallery-container">
  <h2>Metamorfozy</h2>
  <div class="gallery">
    @for(transformation of transformations; track transformations) {
      <div class="transformation">
        <div class="image-container">
          <img class="before" [src]="transformation.beforeImage1" alt="Before">
          <img class="after" [src]="transformation.afterImage1" alt="After">
        </div>
        <div class="image-container">
          <img class="before" [src]="transformation.beforeImage2" alt="Before">
          <img class="after" [src]="transformation.afterImage2" alt="After">
        </div>
        <div class="description">
          <p>{{ transformation.description }}</p>
        </div>
      </div>
    }
  </div>
</div>
