<div id="metamorphosis" class="gallery-container">
  <h2>Metamorfozy</h2>
  <div class="gallery">
    @for(transformation of visibleItems; track trackByFn) {
      <div class="transformation" [class.no-hover]="!transformation.afterImage2 || !transformation.beforeImage2">
        <div class="image-container">
          <img class="before" [src]="transformation.beforeImage1" alt="Before">
          @if(transformation.beforeImage2){
            <img class="after" [src]="transformation.beforeImage2" alt="Before">
          }
        </div>
        <div class="image-container">
          <img class="before" [src]="transformation.afterImage1" alt="After">
          @if(transformation.afterImage2){
            <img class="after" [src]="transformation.afterImage2" alt="After">
          }
        </div>
        <div class="description">
          <p>{{ transformation.description }}</p>
        </div>
      </div>
    }
  </div>
  <button mat-raised-button color="primary" *ngIf="showMoreButtonVisible" (click)="showMore()">Pokaż więcej</button>
</div>
