.form-container{
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: 60px auto 20px;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.half-width {
  width: 48%;
  margin-right: 2%;
}

.half-width:last-child {
  margin-right: 0;
}

h2{
  margin-bottom: 20px;
}
