@use "palette";
@use "breakpoints";

.about-container {
  height: auto;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-description {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;

  @media (max-width: breakpoints.$medium-screen) {
    flex-direction: column-reverse;
    width: 100%;
    gap: 32px;
  }

  img {
    height: 50lvh;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;

    @media only screen and (max-width: 1440px) {
      height: 70lvh;
    }

    @media only screen and (max-width: 425px) {
      height: 60lvh;
    }
  }

  p {
    max-width: 30dvw;

    @media (max-width: breakpoints.$medium-screen) {
      max-width: 75dvw;
    }
  }
}
