<div id="about-container" class="about-container">
  <div class="about-description">
    <img src="./assets/images/Filip.png" alt=""/>
    <div>
      <h2>O mnie</h2>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet aperiam illum minima nisi porro reprehenderit vero,
          voluptates. Animi corporis dolorem dolores explicabo fuga fugit harum laudantium obcaecati, odit possimus.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis cumque cupiditate deleniti dicta, dolor dolore enim est
          ex expedita fugit ipsam itaque iure iusto labore magnam maiores mollitia, nemo nihil nostrum obcaecati odio optio quaerat
          quam qui quibusdam quidem reiciendis rem rerum sequi sit ullam velit veniam vitae! Assumenda, et.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur, cumque eaque eius enim esse expedita facere iusto
          nisi nulla omnis perspiciatis rem repellendus reprehenderit similique sit tenetur, unde vero! Adipisci corporis culpa
          distinctio exercitationem magnam tempora ullam vitae voluptates? Assumenda dolorum excepturi modi nisi veniam.
        </p>
      </div>
    </div>
  </div>
</div>
