<div class="social-sidebar">
  <a href="https://facebook.com" target="_blank" aria-label="Facebook">
    <i class="fa-brands fa-facebook"></i>  </a>
  <a href="https://twitter.com" target="_blank" aria-label="Twitter">
    <i class="fa-brands fa-twitter"></i>
  </a>
  <a href="https://instagram.com" target="_blank" aria-label="Instagram">
    <i class="fa-brands fa-instagram"></i>
  </a>
  <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
    <i class="fa-brands fa-linkedin"></i>
  </a>
</div>
