<div class="social-sidebar">
  <a href="https://www.facebook.com/profile.php?id=100087379587704" target="_blank" aria-label="Facebook">
    <i class="fa-brands fa-facebook"></i>  </a>
  <a href="https://www.instagram.com/fkrasinsky/" target="_blank" aria-label="Instagram">
    <i class="fa-brands fa-instagram"></i>
  </a>
  <a href="https://youtube.com/@filipkrasinski?si=hbo3CNcG4eD6l7oS" target="_blank" aria-label="Youtube">
    <i class="fa-brands fa-youtube"></i>
  </a>
  <a href="https://www.tiktok.com/@fkrasinsky?lang=pl-PL&is_from_webapp=1&sender_device=mobile&sender_web_id=7368460644363896353" target="_blank" aria-label="TikTok">
    <i class="fa-brands fa-tiktok"></i>
  </a>
</div>
