<footer class="app-footer">
  <div class="footer-content">
    <div class="location-info">
      <img class="logo" alt="Logo Filip Krasinski" src="assets/images/logo/Logo_raster_lowres.png">
      <p>Gdzie mnie znajdziesz?</p>
      <a href="https://www.google.com/maps?ll=51.091848,17.05962&z=18&t=m&hl=pl&gl=PL&mapclient=embed&cid=971796366354625369"
         target="_blank"
      >Holistic Sport Center ul. Krakowska 29c</a>
    </div>
    <div class="contact-info">
      <p>Kontakt</p>
      <p>Tel: <a href="tel:+48666680843">666 680 843</a></p>
      <p>Mail: <a href="mailto:kontakt.krasinski@gmail.com">kontakt.krasinski&commat;gmail.com</a></p>
    </div>
  </div>
  <p class="copy">&copy; 2024 Filip Krasiński. Wszelkie prawa zastrzeżone.</p>
  <div class="authors">
    <p>Autorzy strony:</p>
    <p>
      <a href="mailto:gawlakdominik.business@gmail.com">Dominik Gawlak</a>
      &
      <a href="mailto:jakub.kozak384@gmail.com">Jakub Kozak</a>
    </p>
  </div>
</footer>
