@use "palette";

.app-footer {
  background-color: palette.$tertiary-900;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  border-top: 1px solid palette.$tertiary-800;
}

.footer-content {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  font-size: 14px;
  color: palette.$primary-50
}

.footer-content div {
  margin: 10px;
}

.contact-info a,
.authors a {
  color: palette.$primary-400;
  text-decoration: none;
}

.contact-info a:hover,
.authors a:hover {
  color: palette.$primary-50;
}

.authors {
  position: absolute;
  right: 0;
  bottom: 0;
  color: palette.$accent-50;
  font-size: 12px;

  p {
    margin: 0 !important;
  }
}

.copy {
  color: palette.$accent-50;
  font-size: 12px;

  @media only screen and (max-width: 850px) {
    margin-bottom: 50px;
  }
}

.authors p,
.contact-info p,
.location-info p {
  margin: 5px 0;
}

.location-info a {
  color: palette.$primary-400;
  text-decoration: none;
}

.logo{
  width: 100px;
  height: 100px;
}
